/* Removing browser defaults */
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center; 
    background: #FFFFFF;
    padding: 30px 10px;
}
#main {
    background: #EEE;
}
/* title and image */
#title {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}
#image {
    max-width : 100%;
    height: auto;
    display: block;
}

#img-div{
    background: #FFF;
    margin: 0 auto;
    width: 95vw;
   padding: 20px 20% 0;
}

#img-caption {
    font-size: 1.1rem;
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(73, 73, 73);
}