/* Removing browser defaults */
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center; 
    background: #FFFFFF;
    padding: 30px 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(73, 73, 73);
    overflow-x: hidden;
}
#main {
    background: #EEE;
}
/* title and image */
#title {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}
#image {
    max-width : 100%;
    height: auto;
    display: block;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#img-div{
    background: #FFF;
    margin: 0 auto;
    width: 95vw;
   padding: 20px 18% 0;
}

#img-caption {
    font-size: 1.1rem;
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(73, 73, 73);
}
#tribute-info {
    max-width: 700px;
    margin: auto;
    padding: 0 30px;
}
h3 {
    padding: 50px 0;
}
ul li {
    margin: 0 0 30px;
    list-style-position: inside;
    line-height: 2rem;
    text-align: left;
}
#tribute-link {
    text-decoration: none;
    padding: 10px;
    color: rgb(92, 23, 23);
    display: inline-block;
}
/* styles for small screens */
@media screen and (max-width: 630px){
    #title {
        font-size: 2rem;
    }
    #img-div {
        padding: 20px 5% 0;
    }
}