*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center; 
    background: #FFFFFF;
    padding: 30px 10px;
}
#main {
    background: #EEE;
}
#image {
    max-width : 100%;
    height: auto;
    display: block;
}

#img-div{
    background: #FFF;
    margin: 0 auto;
    max-width: 80%;
   padding: 20px;
}